# .NET & ASP.NET Core
bin/
obj/
publish/
*.user
*.userosscache
*.suo
.vs/
.idea/
.vscode/

# Node & Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Logs
*.log
.env
.env.local

# OS files
[Dd]esktop.ini
Thumbs.db
.DS_Store

# Patient Upload Files
backend/src/ConnectedCare.Api/Files/*
!backend/src/ConnectedCare.Api/Files/.gitkeep
